.stepper-list {
  display: flex;
  flex-wrap: wrap;
}

app-button-stepper {
  &:nth-child(1) {
    z-index: 3;
  }
  &:nth-child(2) {
    z-index: 2;
  }
  &:nth-child(3) {
    z-index: 1;
  }
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
      align-items: center;
  .btn__plus {
    color: green;
  }
}
