<h1><b>Planning Period</b></h1>

<div class="stepper-list">
  <app-button-stepper
    [btnType]="'first'"
    [btnLabel]="'organisation'"
  ></app-button-stepper>
  <app-button-stepper
    [btnType]="'midle'"
    [btnLabel]="'parking brussels nord'"
  ></app-button-stepper>
  <app-button-stepper
    [btnType]="'midle'"
    [btnLabel]="'administration'"
  ></app-button-stepper>
  <app-button-stepper
    [btnType]="'midle'"
    [btnLabel]="'Planning period'"
  ></app-button-stepper>
</div>

<p class="mt-30">
  You can choose here and create the number of days that you allows a user to
  book your parking in advance
</p>

<div class="list-cards mr-20-childs mt-30">
  <app-card-day
    *ngFor="let card of cardList"
    [card]="card"
    (clickCardEvent)="cardChange($event)"
    (deleteCardEvent)="deleteCard($event)"
  ></app-card-day>
  <app-card-day *ngIf="addNewCard" [addNew]="true" (addCardEvent)="addCard($event)"></app-card-day>
  <button mat-icon-button class="btn__plus" (click)="openNewCard()">
    <mat-icon>control_point</mat-icon>
  </button>
</div>




 