<div class="custom-snackbar d-flex">
  <div class="custom-snackbar__message-box">
    <div class="custom-snackbar__message-box__message-group">
      <div
        class="custom-snackbar__message-box__message-group__message"
        *ngFor="let message of messages"
      >
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
  <div class="custom-snackbar__action">
    <button
      mat-button
      (click)="close()"
    >
      Sair
    </button>
  </div>
</div>
