::ng-deep .mat-snack-bar-container {
  width: 60rem;
  background-color: rgba(128, 128, 128, 0.432);
  color: green;
}

.custom-snackbar {
  @media (max-width: 481px) {
    white-space: normal;
  }
  white-space: nowrap;
  margin-right: 24px;
  margin-left: 24px;
  align-items: center;
  &__message-box {
    flex: 1 1 80%;
    place-content: center flex-start;
    align-items: center;
    &__message-group {
      flex: 1 1 100%;
      &__message {
        flex: 1 1 100%;
      }
    }
  }
  &__action {
    flex: 1 1 20%;
    place-content: center flex-end;
    align-items: center;
  }
}
