<button mat-stroked-button class="card-day mb-12">
  <div class="content">
    <div class="content__top">
      <ng-container *ngIf="card.favourite; else noFavourite">
        <img src="assets/svg/star-green.svg" (click)="changeFavourite()" />
      </ng-container>
      <ng-template #noFavourite>
        <img src="assets/svg/star-gray.svg" (click)="changeFavourite()" />
      </ng-template>
      <img
        src="assets/svg/delete.svg"
        *ngIf="!card.favourite"
        (click)="deleteCard()"
      />
    </div>
    <span *ngIf="!addNew">{{ card.days }}</span>
    <input 
      *ngIf="addNew"
      type="number"
      class="days"
      name="quantity"
      min="1"
      max="365"
      placeholder="5"
      onfocus="this.placeholder = ''"
      [(ngModel)]="daysInput"
      (focusout)="focusOutFunction()"
    />
    <span>days</span>
  </div>
</button>
