.card-day {
  padding: 10px;
  width: 90px;
  height: 125px;
  .content {
    display: flex;
    flex-direction: column;
    &__top {
      display: flex;
      justify-content: space-between;
      height: 35px;
    }
    .days {
      text-align: center;
      border: 0;
      outline: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 500;
      &:focus {
        outline: none !important;
      }
      &::placeholder {
        color: rgba(128, 128, 128, 0.288);
        font-size: 1.5em;
      }
    }
  }
}
.mat-stroked-button {
  border-radius: 10px;
  -webkit-appearance: none;
  margin: 0;
}
