  @import "./src/styles/abstracts/variables";

  .button-stepper {
    margin-right: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    &__midle {
      background: $button-stepper-bg;
      display: inline-block;
      position: relative;
      white-space: nowrap;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 10px;
 
      &:after {
        margin: auto 0;
        border-bottom: 15px solid transparent;
        border-left: 14px solid $button-stepper-bg;
        border-top: 15px solid transparent;
        content: "";
        height: 0;
        left: 100%;
        position: absolute;
        top: 0px;
        width: 0;
      }
 
      &:before {
        margin: auto 0;
        border-bottom: 15px solid transparent;
        border-left: 14px solid white;
        border-top: 15px solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0px;
        width: 0;
      }
    }
    &__first {
      background: $button-stepper-bg;
      display: inline-block;
      position: relative;
      white-space: nowrap;
      padding: 5px 10px;
 
      &:after {
        margin: auto 0;
        border-bottom: 15px solid transparent;
        border-left: 14px solid $button-stepper-bg;
        border-top: 15px solid transparent;
        content: "";
        height: 0;
        left: 100%;
        position: absolute;
        top: 0px;
        width: 0;
      }
 
      &:before {
        margin: auto 0;
        border-bottom: 15px solid transparent;
        border-left: 14px solid transparent;
        border-top: 15px solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0px;
        width: 0;
      }
 
    }
  } 