.mt-100 {
  margin-top: 10rem !important;
}

.mt-50 {
  margin-top: 5rem !important;
}

.mt-30 {
  margin-top: 3rem !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-7 {
  margin-top: 7px !important;
}
.pt-7 {
  padding-top: 7px !important;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mr-20-childs > * {
  margin-right: 2rem;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.vertical-align-middle {
  vertical-align: middle;
}
.with-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.field-box > * {
  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.filer-box > * {
  &:not(:last-child) {
    margin-right: 3rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
